* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
}
p{
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;

}
button{
    border: none;
    background: transparent;
    outline: none !important;
}
a{
    cursor: pointer;
}
:root {
    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;
    --blue: #2E266F;
    --grey: #707070;
    --black: #000000;
    --white: #FFF5EC;
    --milk: #FFEDDE;


}

.red-theme{
    --main-color:#FE043C;
    --main-color-70: rgb(254, 4, 60, 0.7);
    --arrow-first: url('../img/arrow_red__1.png');
    --arrow-second: url('../img/arrow_red__2.png');
}

.green-theme{
    --main-color: #35CD8C;
    --main-color-70:rgb(53, 205, 140, 0.7);
    --arrow-first: url('../img/arrow_green__1.png');
    --arrow-second: url('../img/arrow_green__2.png');
}


/* ========================header======================== */
.my-container {
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    
}

.my-container_lg {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header {
    min-height: 100vh;
    background: var(--milk);
    margin-bottom: 220px;
    position: relative;
    /* overflow: hidden; */
    
}
.header-carousel{
    padding-top: 100px;
    overflow: hidden;
}

.header-content_right__bg {
    position: absolute;
    background: var(--main-color);
    right: 0;
    min-height: 100%;
    min-width: 514px;
    z-index: 1;
}

.header-nav {
    width: 100%;
    position: relative;
}
.menu-burger{
    z-index: 100;
    margin: auto;
    cursor: pointer;
    margin-right: 25px;
}
.menu-burger_none{
    display: none;
}

.sidebar-epta{
    position: absolute;
    background: #0007;
    width: 300px;
    min-height: 100vh;
    display: none;
    visibility: hidden;
    right: 0;
    z-index: 10;
    flex-direction: column;
    transform: translateX(100%);
    transition: 1s;
}
.sidebar-epta_active{
    display: flex;
    visibility: visible;
    transform: translateX(0);
    right: 0;
    
}
.nav-list.active{
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.432);
    min-width: 300px;
    min-height: 100vh;
    right: 0;
    top: 0;
    z-index: 10;

    
}
.nav-list{
    display: flex;
}
.nav-logo {
    font-family: 'Poppins';
    font-size: 72px;
    font-weight: 700;
    color: var(--main-color);
    margin-top: 20px;
}

.nav-logo:hover {
    color: var(--main-color);
}

.nav-list {
    margin-left: 10%;
    
}
.nav-list_link:nth-of-type(4){
    margin-bottom: 50px;
}
.nav-list_link {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--blue);
    margin-left: 40px;
    margin-top: 67px;
    min-width: 95px;
}

.nav-list_link:hover {
    color: var(--blue);
}
.nav-list_container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    transition: 1s;
}
.nav-list_container__active{
    display: flex;
    visibility: visible;
}
.user-icon_content {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
}

.user-icon {
    font-size: 50px;
    color: white;
    margin-right: 10px;
}

.user-icon_name {
    color: white;
    margin-right: 10px;
    align-self: center;
    margin-bottom: 0;
}

.arrow-down_icon {
    color: white;
    transition: 1s;
    cursor: pointer;
    padding: 10px;

}

.arrow-down_icon:hover {
    color: black;
}

.arrow-down_icon__input {
    position: absolute;
    right: 1%;
    cursor: pointer;
}

.theme-changer {
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: Poppins;
    left: -20%;
    top: 0;
    width: max-content;
    background: #000000b4;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    border: rgba(0, 0, 0, 0.171) 5px solid;
    text-align: center;
    transition: 500ms;
}

.theme-changer.theme-changer_active {
    opacity: 1;
    visibility: visible;
    transform: translateY(110%);
}

.theme-changer_btn__red, .theme-changer_btn__red:hover {
    min-width: 150px;
    cursor: pointer;
    color: red;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 300ms;
    font-size: 16px;
    padding: 10px;
}
.red-theme_btn__sidebar{
    
}
.green-theme_btn__sidebar{
    
}

.theme-changer_btn__green, .theme-changer_btn__green:hover{
    cursor: pointer;
    min-width: 150px;
    color: green;
    background: rgba(0, 128, 0, 0.5);
    border-radius: 10px;
    transition: 300ms;
    font-size: 16px;
    padding: 10px;
}
.theme-changer_btn__green:hover, .theme-changer_btn__red:hover{
    color: white;
}
.header-main_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 300px;
    display: flex;
    color: var(--blue);
    opacity: 0.05;
    margin-bottom: -90px;
}
.header-content_descr {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: var(--blue);
    line-height: 90px;
    max-width: 800px;
}

.header-content_search {
    position: absolute;
    min-width: 670px;
    height: 90px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 90px;
    color: var(--blue);
    opacity: 0.6;
}

.search-submit {
    position: relative;
    top: 5px;
    right: -460px;
    display: flex;
    padding: 16px 76px;
    max-width: 200px;
    background: var(--main-color);
    border-radius: 60px 0px 0px 0px;
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
}

.search-submit:hover {
    color: white;
    cursor: pointer;
}

.header-content_search,
.header-content_search:focus {
    border: none;
    outline: none;
    padding-left: 50px;
}

.header-content_map {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 50px;
    background: var(--main-color);
    color: white;
    border-radius: 0px 100px 100px 0px;
    margin-right: 20px;
    min-width: 220px;
    height: 65px;
    z-index: 10;
}

.header-content_map:hover {
    color: white;
}

.header-content_map i {
    position: relative;
    font-size: 30px;
    left: 10px;
    top: 20px;
}

.header-content_map span {
    position: absolute;
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    line-height: 90px;
    left: 50px;
    top: -10px;
}

.header-carousel {
    position: relative;
    min-height: 770px;
    margin-left: 10%;
    z-index: 1;
}

.carousel-img {
    position: absolute;
    z-index: 2;
    max-height: 100%;
    max-width: 100%;

}

.carousel-lettuce_img {
    position: absolute;
    top: -145px;
    left: 20%;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.carousel-bg_1 {
    position: absolute;
    top: 142px;
}

.carousel-bg_2 {
    position: absolute;
    bottom: 122px;
}

.header-carousel_controls {
    position: absolute;
    top: 85%;
    right: 0;
    z-index: 15;
}

.left-carousel_button {
    margin-right: 25px;
    cursor: pointer;
}

.right-carousel_button {
    margin-left: 25px;
    cursor: pointer;

}

/* ========================header======================== */

/* =========================main========================= */
body {
    background: var(--white);

}

.main {}

.main-content {
    margin-bottom: 100px;
}

.main-content_title {
    color: var(--blue);
    font-family: Poppins;
    font-weight: 500;
    font-size: 44px;
    line-height: 62px;
    max-width: 630px;
    display: flex;
}
.main-content_title::before{
    content: '';
    width: 25px;
    height: 140px;
    background-color: var(--main-color);
    display: inline-block;
    margin-right: 15px;
}


.main-content_descr {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
    max-width: 609px;
    margin-left: 250px;
}

.main-cards {
    position: relative;
    margin-bottom: 500px;
    max-width: 4500px;
}
.main-card_border__first {
    position: absolute;
    bottom: 640px;
    left: 15px;
    z-index: 0;
}
.main-card_list{
    max-width: 1400px;
    overflow: hidden;
}
.main-card_border__second {
    position: absolute;
    right: -4.2%;
    bottom: -25px;
    z-index: 0;
}

.main-card_border__third {
    position: absolute;
    bottom: -9.8%;
    right: -1.5%;
    z-index: 0;
}

.main-card_img {
    border-radius: 20px;
}

.main-card_item:nth-child(4) {
    margin-left: 0;
}

.main-card_item {
    /* position: relative; */
    z-index: 5;
}

.main-card_item:nth-child(2) {
    position: relative;
    z-index: 5;
}

.main-card_descr {
    position: absolute;
    bottom: 0;
    height: 253px;
    max-width: 639px;
    background: var(--main-color-70);
    opacity: 0;
    border-radius: 0px 0px 20px 20px;
    padding: 40px 192px 127px 61px;
    transition: 500ms;
}

.main-card_item:hover .main-card_descr {
    opacity: 1;
    background: var(--main-color-70);
}

.card-item_title {
    color: white;

}

.card-item_descr {
    color: white;
    max-width: 386px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
}

.card-item_gps {
    color: white;
    font-size: 20px;
}

.card-item_gps span {
    color: white;
    width: max-content;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin-left: 10px;
}

.card-item_gps:hover {
    color: white;

}

.card-item_button,
.card-item_button:hover {
    position: absolute;
    right: 0;
    bottom: 20%;
    background: #FFFFFF;
    border-radius: 100px 0px 0px 100px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 20px 64px;
}

.main-cards_controls {
    position: absolute;
    right: 0;
    top: 50%;
}

.booking-section {
    position: relative;
    margin-bottom: 120px;
}

.booking-content_left__bg {
    position: absolute;
    left: 0;
    bottom: -20%;
    z-index: 1;

}

.booking-content_right__bg {
    position: absolute;
    right: 0;
    z-index: 1;
}

.booking-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 1230px;
    height: 560px;
    background: #FFFFFF;
    margin: 0 auto;
    position: relative;
    margin-bottom: 265px;
    padding-top: 100px;
}

.booking-border_first {
    position: absolute;
    top: -10%;
    right: -4.9%;
}

.booking-border_second {
    position: absolute;
    bottom: -10%;
}

.booking-border_third {
    position: absolute;
    top: 0;
    right: -5%;
}



.booking-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    color: var(--blue);
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-title:before {
    content: '';
    width: 230px;
    height: 15px;
    background-color: var(--main-color);
    display: inline-block;
    margin-bottom: 30px;

}

.booking-form {
    margin: 0 auto;
    position: relative;
}

.booking-search {
    min-width: 670px;
    height: 90px;
    box-shadow: 2px 2px 30px 2px var(--white);
    padding-left: 40px;
    border: none;
}

.booking-search:focus {
    outline: none;
}

.booking-submit,
.booking-submit:hover {
    position: absolute;
    right: 14%;
    top: 10px;
    border-radius: 0;
    background: var(--main-color);
    padding: 12px 44px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;

}

.booking-search::placeholder {
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue);
    opacity: 0.6;
}

.booking-select_first {
    font-family: Poppins;
    position: absolute;
    bottom: 50%;
    left: 25%;
    border: none;
    outline: none;
    color: var(--blue);
}

.booking-select_second {
    font-family: Poppins;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: none;
    outline: none;
    color: var(--blue);
}

.booking-select_third {
    font-family: Poppins;
    position: absolute;
    bottom: 50%;
    right: 20%;
    border: none;
    outline: none;
    color: var(--blue);
}

.our_service-section {
    display: flex;
    justify-content: center;
}

.our_service-content {
    margin-bottom: 100px;
    align-items: center;
}

.our_service-content__title {
    max-width: 357px;
    display: flex;
    align-items: center;
}

.our_service-content__title:before {
    content: '';
    display: inline-block;
    background-color: var(--main-color);
    width: 25px;
    height: 140px;
    margin-right: 30px;
}

.our_service-cards {
    background: url('../img/osbg.png');
    padding-top: 0;
    padding-bottom: 99px;
    margin-bottom: 150px;
}

.os-card_3 {
    flex-direction: row-reverse;
    position: relative;
}

.os-card_content {
    position: absolute;
    left: 100%;
    top: 35%;
}

.os-card_content_3 {
    max-width: 514px;
    max-height: 117px;
    position: absolute;
    top: 150px;
    z-index: 3;
}

.os-img {
    max-width: 390px;
    max-height: 380px;
    background: var(--milk);
    padding: 91px 95px 90px 96px;
    margin-bottom: 20px;

}

.os-img_2 {
    background: var(--milk);
    max-width: 670px;
    min-height: 758px;
    padding: 164px 174px 122px 174px;
}

.os-img_3 {
    background: var(--milk);
    max-width: 390px;
    max-height: 380px;
    padding: 114px 95px;
    position: absolute;
    right: -65%;
    top: 5%;
}

.os-title {
    max-width: 209px;
    max-height: 58px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: var(--blue);
    margin-bottom: 10px;
    position: relative;

}

.os-title_2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: var(--blue);
    max-width: 244px;
    max-height: 58px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
}

.os-title_3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    max-width: 160px;
    max-height: 58px;
    text-transform: capitalize;
    position: relative;
    color: var(--blue);
}

.os-title_3 span::before {
    content: '';
    background-color: var(--main-color);
    width: 84px;
    height: 3px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 80%;
}

.os-title_3 span::after {
    content:'';
    background-image: var(--arrow-second);
    background-repeat: no-repeat;
    width: 300px;
    height: 15px;
    position: absolute;
    left: 150%;
    bottom: 5%;
}

.os-title_span::before {
    content: '';
    background-image: var(--arrow-first);
    width: 300px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    right: 50%;
    top: 65%;
    padding-right: 30px;
}

.os-title_span::after {
    content: '';
    width: 84px;
    height: 3px;
    background-color: var(--main-color);
    display: inline-block;
    position: absolute;
    top: 75%;
    margin-left: 10px;
}

.os-descr, .os-descr_3{
    max-width: 199px;
    max-height: 39px;
    font-family: Poppins;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--grey);
}
.header-carousel_list{
    z-index: 10;
}
.os-descr_2 {
    max-width: 199px;
    max-height: 39px;
    font-family: Poppins;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--grey);
    padding-top: 30px;


}

.os-descr_2::after {
    content: '';
    width: 192px;
    height: 3px;
    background-color: var(--main-color);
    display: block;
    margin-top: 15px;
}

.eof-section {
    margin-bottom: 145px;
}
.eof-cards_container{
    display: flex;
    justify-content: space-between;
}
.eof-title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: var(--blue);
    text-align: center;
    margin-bottom: 30px;
}

.eof-descr {
    font-family: Poppins;
    max-width: 609px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: var(--grey);
    margin: 0 auto;
    margin-bottom: 60px;
}


.eof-card {
    border-radius: 25px;
    max-width: 530px;
    background: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-left: 0;
    margin-bottom: 50px;
}

.eof-card_title {
    text-align: start;
    padding-left: 30px;
    padding-top: 30px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: var(--blue);
}

.eof-card_span {
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: var(--main-color);
    padding-left: 220px;
}

.eof-card_descr {
    padding-left: 30px;
    max-width: 320px;
    font-family: Poppins;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--grey);
}

/* +++++++++++++++++++++ <section class="download-apps">+++++++++++++++++++++ */
.download-section {
    background: var(--milk);
}

.da-title {
    max-width: 475px;
    /* max-height: 122px; */
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-transform: capitalize;
    color: var(--blue);
    position: relative;
    display: flex;
    margin-bottom: 30px;
}

.da-title::before {
    content: '';
    width: 25px;
    height: 140px;
    background-color: var(--main-color);
    display: inline-block;
    margin-right: 39px;
}

.da-descr {
    font-family: Poppins;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--grey);
    margin-left: 50px;
    margin-bottom: 50px;
}

.da-button {
    margin-left: 50px;

}

.da-button:nth-of-type(2) {
    margin-left: 15px;
}

/* -----------------------------<section class="download-apps">----------------------------- */

/* =========================main========================= */

/* =============================footer============================= */
.footer {
    background: url('../img/Footer.png');
    background-repeat: no-repeat;
    min-height: 946px;
    display: flex;
    align-items: center;
}

.footer-title {
    font-family: Poppins;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: var(--blue);
    max-width: 534px;
    margin-bottom: 30px;
    /* max-height: 90px; */
}

.footer-descr {
    font-family: Poppins;
    font-size: 14px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--grey);
    max-width: 533px;
    text-align: center;
    margin-bottom: 60px;
}

.footer-email {
    min-width: 544px;
    height: 90px;
    box-shadow: 2px 2px 30px 2px var(--white);
    border-radius: 100px;
    border: none;
    padding-left: 60px;
    font-family: Poppins;
    position: relative;
    margin-bottom: 60px;

}

.arrow-right {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px var(--main-color) solid;
    background-color: var(--main-color);
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-email:focus {
    outline: none;
}



.footer-contacts_list {
    max-width: 434px;
    position: relative;

}

.footer-contacts_list__link a {
    margin-left: 25px;
    font-family: Poppins;
    text-transform: capitalize;
    color: var(--grey);
}

.social-links_content {
    position: absolute;
    bottom: -50%;
    right: 0;
}

.social-link {
    font-size: 20px;
    color: var(--grey);
    margin-right: 15px;
}

/* =============================footer============================= */
